<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}reset.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}index.css">
</head>

<body>
  {{ partial "header" . }}
  <main class="main">
    {{ block "main" . }}
    {{ end }}
  </main>
</body>

</html>
