<nav>
  <ul class="nav--list">
    {{/*  <li class="nav--item">test</li>  */}}
    {{ range .Site.Menus.nav }}
      <li>
          <a class="nav--item" href="{{ .URL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
      </li>
    {{ end }}
  </ul>
</nav>