<header class='header'>
  <div class="header--background"></div>
  <div class="header--background-border-container">
    <div class="header--background-border"></div>
  </div>
  <div class="header--flex">
  <div>
    <h1 class='header--title'>{{ .Title }}</h1>
    <h2 class='header--subtitle'>{{ .Params.Subtitle }}</h2>
  </div>
  {{ partial "header-nav" .}}
</div>
</header>