/* ANCHOR typography */
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.main {
  position: absolute;
  top: 45px;
  bottom: 0px;
  height: auto;
  overflow-y: scroll;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

/* ANCHOR header */
.header {
  position: relative;
  padding: 12px;
  height: 45px;
  box-sizing: border-box;
  border-bottom: 1px dashed hsla(0, 0%, 70%, 1);
}

.header--background {
  position: absolute;
  z-index: -1;
  background-color: hsla(50, 100%, 90%, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-1deg);
}

.header--title,
.header--subtitle {
  font-size: 21px;
  display: inline-block;
}

.header--title {
  font-weight: bold;
  margin-right: 12px;
}

/* ANCHOR project */
.projects {
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.project--info,
.project--thumbnail-container__desktop {
  width: 50%;
}

.project--thumbnail-container__desktop {
  margin-left: 24px;
}

.project--thumbnail-container__mobile {
  display: none;
  margin-bottom: 12px;
}

.project--thumbnail {
  width: 100%;
}

.project--title {
  font-weight: bold;
  font-size: 28px;
}

.project--title,
.project--links {
  margin-bottom: 12px;
}

.project--thumbnail-container {
  position: relative;
}

.project--thumbnail-background {
  position: absolute;
  background-color: hsla(0, 100%, 90%, 1);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -2px;
  left: 3px;
  transform: rotate(-5deg);
}

.project--url {
  display: inline-block;
  /* padding: 0px 3px 3px 0px; */
  background-color: hsl(690, 50%, 90%);
  border: 2px solid black;
  padding: 3px 6px;
  border-radius: 3px;
}

.project--url:hover {
  background-color: hsla(690, 50%, 80%, 1);
  cursor: pointer;
}

.project--url {
  text-decoration: none;
  color: black;
}

.project--description {
  font-size: 22px;
  line-height: 28px;
}

.project--repository-url {
  margin-right: 12px;
}

/* ANCHOR project @media */
/* Swap out desktop project thumbnail for mobile thumbnail */
@media only screen and (max-width: 600px) {
  .project--info {
    width: 100%;
  }

  .project--thumbnail-container__desktop {
    display: none;
  }

  .project--thumbnail-container__mobile {
    display: block;
  }

  /* Adjust margin for smaller devices */
  .projects {
    margin: 0px;
    padding-top: 0px;
  }

  .project--title,
  .project--links,
  .project--description {
    margin: 24px;
  }
}
