/* ANCHOR typography */
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.main {
  position: absolute;
  top: 45px;
  bottom: 0px;
  height: auto;
  overflow-y: scroll;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

/* ANCHOR header */
.header {
  padding: 12px;
  height: 45px;
  box-sizing: border-box;
}

.header--title,
.header--subtitle {
  font-size: 21px;
  display: inline-block;
}

.header--title {
  font-weight: bold;
  margin-right: 12px;
}

/* ANCHOR project */
.projects {
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.project--info,
.project--thumbnail-container__desktop {
  width: 50%;
}

.project--thumbnail-container__desktop {
  margin-left: 12px;
}

.project--thumbnail-container__mobile {
  display: none;
  margin-bottom: 12px;
}

.project--thumbnail {
  width: 100%;
}

.project--title {
  font-weight: bold;
}

.project--title,
.project--links {
  margin-bottom: 12px;
}

.project--repository-url {
  margin-right: 12px;
}

/* ANCHOR project @media */
/* Swap out desktop project thumbnail for mobile thumbnail */
@media only screen and (max-width: 600px) {
  .project--info {
    width: 100%;
  }

  .project--thumbnail-container__desktop {
    display: none;
  }

  .project--thumbnail-container__mobile {
    display: block;
  }

  /* Adjust margin for smaller devices */
  .projects {
    margin: 0px;
  }

  .project--title,
  .project--links,
  .project--description {
    margin: 24px;
  }
}
