/* ANCHOR typography */
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.main {
  position: absolute;
  top: 45px;
  bottom: 0px;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

/* ANCHOR header */
.header {
  position: relative;
  padding: 12px;
  height: 45px;
  box-sizing: border-box;
}

.header--background {
  z-index: -1;
  background-color: hsla(50, 100%, 90%, 1);
  width: 100%;
  transform: rotate(-1deg);
}

.header--background,
.header--background-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.header--background-border-container {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  top: 0;
  left: 0;
}

.header--background-border {
  z-index: 1;
  border-bottom: 2px dashed hsla(0, 0%, 70%, 1);
  width: 200vw;
  top: -1px;
  position: absolute;
  left: 0px;
  height: 45px;
  animation-duration: 60s;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes slide {
  from {
    left: 0px;
  }
  to {
    left: -100vw;
  }
}

.header--flex {
  display: flex;
  justify-content: space-between;
}

.header--title,
.header--subtitle {
  font-size: 21px;
  display: inline-block;
}

.header--title {
  font-weight: bold;
  margin-right: 12px;
}

/* ANCHOR header @media */
@media only screen and (max-width: 470px) {
  .header--subtitle {
    display: none;
  }
}

/* ANCHOR project */
.projects {
  margin: 0px 50px 50px 50px;
  padding-top: 50px;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.project--info,
.project--thumbnail-container__desktop {
  width: 50%;
}

.project--thumbnail-container__desktop {
  margin-left: 24px;
}

.project--thumbnail-container__mobile {
  display: none;
  margin-bottom: 12px;
}

.project--thumbnail-container__mobile {
  max-width: 650px;
}

.project--thumbnail {
  width: 100%;
  transition: transform 0.25s;
}

.project--title {
  font-size: 28px;
  font-weight: bold;
}

.project--title,
.project--links {
  margin-bottom: 12px;
}

.project--thumbnail-container {
  position: relative;
}

.project--thumbnail-container:hover .project--thumbnail-background {
  background-color: hsla(0, 80%, 80%, 1);
}

.project--thumbnail-container:hover .project--thumbnail {
  transform: scale(1.05);
}

.project--thumbnail-background {
  position: absolute;
  background-color: hsla(0, 100%, 90%, 1);
  z-index: -2;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s;
  top: -2px;
  left: 3px;
  box-shadow: 0 0 10px -6px black inset;
  animation-duration: 6s;
  animation-name: skew-rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

@keyframes skew-rotate {
  from {
    transform: rotate(-5deg) scaleY(1.08) skewY(3deg) skewX(3deg);
  }
  to {
    transform: rotate(5deg) scaleY(1) skewY(-3deg) skewX(-3deg);
  }
}

.project--url {
  display: inline-block;
  background-color: hsl(190, 80%, 80%);
  border: 2px solid black;
  padding: 3px 6px;
  border-radius: 3px;
}

.project--url:hover {
  background-color: hsl(190, 60%, 60%);
  cursor: pointer;
}

.project--url {
  text-decoration: none;
  color: black;
}

.project--description {
  font-size: 22px;
  line-height: 28px;
}

.project--repository-url {
  margin-right: 12px;
}

/* ANCHOR project @media */
/* Swap out desktop project thumbnail for mobile thumbnail */
@media only screen and (max-width: 950px) {
  .project--info {
    width: 100%;
  }

  .project--thumbnail-container__desktop {
    display: none;
  }

  .project--thumbnail-container__mobile {
    display: block;
    margin: 0 auto;
  }

  /* Adjust margin for smaller devices */
  .projects {
    margin: 0px;
    padding-top: 0px;
  }

  .project--title,
  .project--links,
  .project--description {
    margin: 24px;
  }
}

/* ANCHOR nav */
.nav--list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav--item {
  position: relative;
  z-index: 3;
  text-decoration: none;
  margin-left: 16px;
  color: black;
}

.nav--item:hover {
  text-decoration: underline;
}
